@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title {
    color: $primaryColor;
    font-size: 14px;
    font-weight: 600;
    font-family: $fontRoboto;
}

.title3 {
    color:$darkGrey;
    font-size: 16px;
    font-weight: 600;
    font-family: $fontRoboto;
}

.title4 {
    color:$primaryColor;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    font-family: $fontRoboto;
}

.title2 {
    color: $darkGrey;
    font-size: 14px;
    font-weight: 600;
    font-family: $fontRoboto;
}

.subtitle {
    font-size: 14px;
    font-family: $fontRoboto;
    font-weight: 500;
    color: $subtitleColor;
}

.toggles {
    // padding-left: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 260px;
    align-items: baseline;
	border-bottom: 2px solid;
    border-color: $borderColor;
    height: 40px;
    
    .title {
        padding-left: 10px;
        text-align: start;
        font-family: $fontRoboto;
    }
    .more {
        cursor: pointer;
        margin-top: 8px;
        background-color: $paleGrey;
        height: fit-content;
        width: 190px;
        border: none;
        border-radius: 4px;
        color: $primaryColor;
        font-family: $fontRoboto;
        text-align: center;
        padding: 4px;
        align-items: flex-end;
        font-size: 12px;
    }

    .more:hover {
        background-color: $primaryColor;
        color: white;
        font-family: $fontRoboto;
    }
}