@import './variables.scss';

.home {
	text-align: center;
	background-color: #f2f5f7;
	background-size: cover;
	height: 100%;

	// @media (min-width: 640px) {
	// 	background-color: white;
	// 	// visibility: hidden;
	// }

	// @media (max-width: 767px) {
	// 	background-color: white;
	// 	// visibility: hidden;
	// }

	.mobile-ui {
		@media (min-width: 640px) {
			display: block;
			// visibility: hidden;
		}

		@media (max-width: 767px) {
			display: block;
			// visibility: hidden;
		}

		@media (min-width: 768px) {
			display: none;
			// visibility: hidden;
		}

		@media (min-width: 1024px) {
			display: none;
			// visibility: visible;
		}

		@media (min-width: 1280px) {
			display: none;
			// visibility: visible;
		}
	}

	.all {
		@media (min-width: 640px) {
			display: none;
			// visibility: hidden;
		}

		@media (max-width: 767px) {
			display: none;
			// visibility: hidden;
		}

		@media (min-width: 768px) {
			display: block;
			// visibility: hidden;
		}

		@media (min-width: 1024px) {
			display: block;
			// visibility: visible;
		}

		@media (min-width: 1280px) {
			display: block;
			// visibility: visible;
		}
		padding: 10px;
		text-align: center;

		.mydata {
			margin-top: 30px;
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			display: flex;
			justify-content: center;
			align-content: space-between;

			.first-column {
				@media (max-width: 800px) {
					display: none;
					// visibility: hidden;
				}
				.pos {
					@media (min-width: 640px) {
						display: none;
						// visibility: hidden;
					}

					@media (min-width: 768px) {
						display: none;
						// visibility: hidden;
					}

					@media (min-width: 1024px) {
						display: block;
						// visibility: visible;
					}

					@media (min-width: 1280px) {
						display: none;
						// visibility: visible;
					}
				}

				.message {
					width: 250px;
					height: fit-content;
					border-radius: 8px;
					margin-top: 20px;
					background-color: white;

					.content {
						padding: 15px;

						.message-title {
							display: flex;
							justify-content: start;
							align-items: center;

							.message-pic {
								border-radius: 9999px;
								height: 32px;
								width: 32px;
							}

							.name {
								margin-left: 10px;
								font-size: 14px;
								font-weight: 600;
								color: $darkGrey;
							}
						}

						.message-info {
							color: $subtitleColor;
							font-size: 14px;
							text-align: left;
							margin-top: 10px;
						}

						.message-footer {
							.line {
								color: $borderColor;
								margin-top: 12px;
							}

							.message-time {
								margin-top: 12px;
								display: flex;
								justify-content: flex-start;
								align-items: center;

								.icon {
									fill: $borderColor;
									height: 25px;
									width: 25px;
								}

								.time {
									margin-left: 10px;
									color: $subtitleColor;
									font-size: 14px;
								}
							}
						}
					}
				}
			}

			.space {
				width: 10px;
				background-color: $paleGrey;
			}

			.second-column {
				// @media (min-width: 640px) {
				// 	margin-left: auto;
				// 	margin-right: auto;
				// }

				@media (max-width: 768px) {
					margin-left: auto;
					margin-right: auto;
					display: flex;
					justify-content: center;
				}

				display: flex;
				margin-left: 10px;
				justify-items: center;
				// align-items: baseline;

				.space {
					width: 0px;
					background-color: $paleGrey;
				}

				.second-section {
					.pos-two {
						@media (min-width: 768px) {
							display: none;
						}
						@media (min-width: 1024px) {
							display: none;
						}
						@media (min-width: 1280px) {
							display: block;
						}
					}
				}
			}
		}
	}
}
