@import './variables.scss';

.logs {
    background-color: white;
    border-radius: 8px;
    height: 300px;
    border: 2px solid;
    border-color: $borderColor;
    width: 100%;
    margin-top: 50px;

    .content {
        padding-left: 15px;
        background-color: $paleBlue;
        padding-right: 15px;
        // border-bottom: 1px solid;
        // border-color: $borderColor;
        height: 40px;
        align-items: center;
        justify-content: start;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    
        .flex {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 600;
            color: $darkBlue;
            font-size: 14px;
            font-family: $fontRoboto;
        }
    }

    .activity {
        padding-left: 15px;
        padding-right: 15px;
        border-top: 2px solid;
        border-color: $borderColor;
        height: 50px;
        align-items: center;
        justify-content: start;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));

        .flex {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 500;
            color: $darkBlue;
            font-size: 14px;
            font-family: $fontRoboto;
        }

        .critical {
            background-color: $paleRed;
            color: $darkRed;
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            // width: 70px;
            padding-left: 2px;
            padding-right: 2px;
            max-width: 90px;
            font-size: 14px;
        }

        .important {
            background-color: $paleGreen;
            color: $darkGreen;
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            // width: 70px;
            padding-left: 2px;
            padding-right: 2px;
            max-width: 90px;
            font-size: 14px;
        }
    }

    .activity:hover {
        background-color: $paleBlue;
    }
}