@import './variables';

.nav{
    // @media (min-width: 375px) {
    //     display: none;
    //     // visibility: hidden;
    // }

    @media (max-width: 640px) {
        display: none;
        // visibility: hidden;
    }

    @media (min-width: 768px) {
        display: inline-flex;
        // visibility: hidden;
    }

    @media (min-width: 1024px) {
        display: inline-flex;
        // visibility: visible;
    }

    @media (min-width: 1280px) {
        display: inline-flex;
        // visibility: visible;
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 15px 15px 15px 15px;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    
    .navstart {
        display: flex;
        align-content: flex-start;
        align-items: baseline;
        justify-content: flex-start;

        .brand {
            color: $primaryColor;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 14px;
            margin-right: 20px;
        }
    }

    .navcenter {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        
        .candidate {
            width: 300px;
            background-color: $paleGrey;
            font-size: 14px;
            padding: 8px;
            margin-left: auto;
            height: 16px;
            margin-right: auto;
            border: 2px solid;
            border-color: $paleGrey;
            border-radius: 8px;
            // color: #343941;
            // background-image: url('../assets/Vector.png');
            // background-size: 20px;
            // background-repeat: no-repeat;
            // background-position: 12px 12px;
        }
    
        .candidate:focus {
            border: 2px solid $primaryColor;
            outline: none;
        }
    }

    .nav-end {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;

        .navprof {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: space-between;
            .prof {
                border-radius: 9999px;
                width: 35px;
                height: 35px;
                cursor: pointer;
            }
            // .name {
            //     color: $darkGrey;
            //     font-size: 18px;
            //     cursor: pointer;
            // }
            .icon {
                fill: $primaryColor;
                height: 20px;
                width: 20px;
                cursor: pointer;
                margin-right: 40px;
            }
        }
    }
    
}


