$primaryColor: #65bbf8;
$paleGrey: #f2f5f7;
$darkGrey: #343941;
$darkBlue: #434C5A;
$fontRoboto: 'Roboto', sans-serif;
$darkGreen: #36913F;
$paleGreen: rgba(101, 248, 116, 0.15);
$borderColor: #969fad36;
