@import '../variables.scss';

.details {
    background-color: white;
	background-size: cover;
	height: 100%;
	position: fixed;
	overflow: scroll;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	.details-prof {
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: center;
		justify-content: center;
		padding: 10px;

		.prof-details {
			justify-content: start;

			.details-name {
				text-align: start;
				margin-top: 14px;
				font-weight: 600;
				color: $darkGrey;
				font-size: 20px;
			}

			.details-more {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				.details-info {
					margin-top: 5px;
					font-weight: bold;
					text-align: start;
					color: $subtitleColor;
					font-family: $fontRoboto;
					font-size: 14px;
					background-color: $primaryColor;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50px;
					color: white;
					padding: 2px 8px 2px 8px;
					width: fit-content;
				}

				.details-year {
					display: flex;
					justify-content: flex-start;
					margin-left: 5px;
					width: 100%;
					align-items: center;
					font-size: 12px;
					color: $subtitleColor;
					font-weight: 600;

					.details-dot {
						background-color: $subtitleColor;
                        border-radius: 50px;
                        height: 8px;
						width: 8px;
						margin-right: 5px;
					}
				}
			}
		}

		.details-dp {
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: flex-end;

			.details-profile-pic {
				margin-top: 10px;
				justify-content: flex-end;
				border-radius: 9999px;
				width: 50px;
				height: 50px;
				cursor: pointer;
			}
		}
	}

	.details-description {
		margin-top: 10px;
		text-align: start;
		font-weight: 400;
		color: $subtitleColor;
		font-size: 17px;
		margin: 10px;
		line-height: 30px;
	}

	.details-declarations {
		margin: 10px;
		margin-bottom: 40px;
		text-align: start;
		margin-top: 30px;
		font-weight: 600;
		color: $darkBlue;
		font-size: 20px;

		.details-declarations-info {
			margin-top: 8px;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			.details-declaration-icon {
				fill: $subtitleColor;
				width: 25px;
				margin-top: 15px;
			}

			.details-declaration-text {
				margin-left: 5px;
				text-align: start;
				font-weight: 400;
				color: $subtitleColor;
				font-size: 17px;
				margin: 10px;
				line-height: 30px;
				width: 90%;
			}
		}
	}

	.details-back {
		margin-top: 30px;
        padding: 10px;
        display: flex;
		justify-content: center;
		
		.details-back-btn {
			margin-bottom: 20px;
            width: 100%;
            height: 40px;
            border: none;
            background-color: $primaryColor;
            color: white;
            font-weight: bold;
            font-size: 14px;
			border-radius: 4px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}